
@{
    ViewData["Title"] = "IniciarSesion";
}
@model String
    <CENTER>
        <br /><br /><br />

        <h2>Iniciar Sesion</h2>
        <div content="width=device-widt" id="form" class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form asp-action="IniciarGYM"   method="POST">

                    @if (Model != null)
                    {
                        <div class="alert alert-success" id="al1" role="alert" style="display: block; text-align:center">
                            @Model
                        </div>
                        <br>
                    }

                    <input type="text" style=" margin-bottom: 15px;" class="form-control" id="Nombre" name="Nombre"
                           placeholder="Nombre de usuario" required />
                    <input type="password" style="margin-bottom: 15px;" class="form-control" id="Password"
                           name="Password"
                           placeholder="Contraseña"
                           required />

                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>

                </form>
            </div>
            <div class="col-sm-4"></div>
            <br>
        </div>
    </CENTER> 
