
@{
    ViewData["Title"] = "IniciarSesion";
}
@model Proyecto3LenguajesISemestre_ModuloAdmin_Graciela_Randall.Models.Gimnasio
    <CENTER>
        <br /><br /><br />

        <h2>Iniciar Sesion</h2>
        <div content="width=device-widt" id="form" class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form >

                    <input type="text" style=" margin-bottom: 15px;" class="form-control" id="Nombre" name="Nombre"
                           placeholder="Nombre de usuario" required />
                    <input type="password" style="margin-bottom: 15px;" class="form-control" id="Contra"
                           name="Contra"
                           placeholder="Contraseña"
                           required />

                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>

                </form>
            </div>
            <div class="col-sm-4"></div>
            <br>
        </div>
    </CENTER> 
